:root{
    --red:#e02041;
    --white:#f0f0f5;
    --black:#202228;
    --gray:#42424e;
    --green:#1ebea5;
}
.red{
    background-color: var(--red);
}
.white{
    background-color: var(--white);
}
.text-black{
    color:var(--black);
}
.text-gray{
    color:var(--gray);
}
.text-red{
    color:var(--red);
}
.bg-red{
    background-color: var(--red);
}
.bd-gray{
    background-color: var(--gray);
}
.bg-whats{
    background-color: var(--green);
}
body{
    background-color:var(--red) ;
    color:var(--red);
}
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 
.card-img-top{
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
    height:200px;
    max-height: 90%;
    display: block;
}
.card-incident{
     padding: 50px;
    max-height: 280px;
    height:280px;
    overflow: hidden;
    margin-bottom: 2.5rem;
    
}
.card-text.whitered-bg {
    display: inline;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom,var(--white) 90%,var(--red) 10%);
}

.card-incident:hover>img:first-child,
.card-img:hover {
    transition: all .1s ease-in-out;
    filter: brightness(85%);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.eventos-card-row{
    padding-bottom: 90px;
}