:root{
    --red:#e02041;
    --white:#f0f0f5;
    --black:#202228;
    --gray:#42424e;
}
.red{
    background-color: var(--red);
}
.white{
    background-color: var(--white);
}
.text-black{
    color:var(--black);
}
.text-gray{
    color:var(--gray);
}
.text-red{
    color:var(--red);
}
.bg-red{
    background-color: var(--red);
}
body{
    background-color:var(--red) ;
    color:var(--red);
}
