<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft delay-1s fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
        </div>
        <h2 class="h2 text-center">Perfil</h2>
        <p class="lead text-black animated  bounceInLeft delay-1s fast">
            Edite as Informaçoes da sua organização !
        </p>
    </div>
    <div class="row">
        <div
            class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-2 offset-md-9 mb-5  text-center rounded animated zoomIn delay-1s fast">
            <img-Temp url="https://static.poder360.com.br/2019/01/ONG-Brasil.png" titulo="Logo Ong"></img-Temp>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-2 col-12">
        <div class="row">

            <div class="col-md-8 offset-md-2 col-12">
                <div class="form-group animated zoomIn delay-1s fast">
                    <label for="">Nome</label>
                    <input type="text" ng-model="usuario.name" class="form-control" placeholder="Nome da ONG">
                </div>
                <div class="form-group animated zoomIn delay-1s fast">
                    <label for="">Email</label>
                    <input type="email" ng-model="usuario.email" class="form-control" placeholder="Email Institucional">
                </div>
                <div class="form-group animated zoomIn delay-1s fast">
                    <label for="">Url</label>
                    <input type="text" ng-model="usuario.url" class="form-control"
                        placeholder="Insira aqui a URL da foto da ong">
                </div>
                <div class="form-group animated zoomIn delay-1s fast">
                    <label for="">Password</label>
                    <input type="password" ng-model="usuario.password" class="form-control" placeholder="Senha">
                </div>
                <div class="form-group animated zoomIn delay-1s fast">
                    <label for="">Whatsapp</label>
                    <input type="number" ng-model="usuario.Whatsapp" class="form-control" placeholder="Nº">
                </div>
                <div class="form-row ">
                    <div class="col animated zoomIn delay-1s fast">
                        <label for="">Cidade</label>
                        <input type="text" ng-model="usuario.city" class="form-control" placeholder="Cidade">
                    </div>
                    <div class="col animated zoomIn delay-1s fast">
                        <label for="">UF</label>
                        <input type="text" ng-model="usuario.uf" class="form-control" placeholder="Sigla">
                    </div>
                </div>
                <!-- buttom -->
                <div class="row  mb-2">
                    <div class="col-12 col-sm-12 col-md-6   animated  bounceInLeft  fast ">
                        <button class="btn btn-block bg-red text-white mx-auto shadow   p-3 mt-3 mb-3"
                            ng-click="atualizar(usuario)">
                            Atualizar
                        </button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6   animated  bounceInRight  fast ">
                        <a class="btn btn-block  bg-dark text-white mx-auto shadow   p-3 mt-3 mb-3"
                            href="javascript:history.back()">Voltar</a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>