<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft delay-1s fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
        </div>
        <h2 class="h2 text-center">{{ong}}</h2>
        <p class="lead text-black animated  bounceInLeft delay-1s fast">
            Mostrando os casos da Organização Social!
        </p>
    </div>
</div>
<div class="row text-gray mt-2">
    <div class="col-md-3 col-12">
        <div class="card bg-transparent text-right border-0 rounded shadow">
            <foto url="http://wpthemecube.com/eventr_html/img/hotel-img1.png"
                classe="img-thumbnail bg-transparent border-0 " titulo="Foto do Card"></foto>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div class="card bg-transparent text-right border-0 rounded shadow">
            <foto url="http://wpthemecube.com/eventr_html/img/hotel-img1.png"
                classe="img-thumbnail bg-transparent border-0 " titulo="Foto do Card"></foto>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div class="card bg-transparent text-right border-0 rounded shadow">
            <foto url="http://wpthemecube.com/eventr_html/img/hotel-img1.png"
                classe="img-thumbnail bg-transparent border-0 " titulo="Foto do Card"></foto>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div class="card bg-transparent text-right border-0 rounded shadow">
            <foto url="http://wpthemecube.com/eventr_html/img/hotel-img1.png"
                classe="img-thumbnail bg-transparent border-0 " titulo="Foto do Card"></foto>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>