<!-- Home -->
<div class="row mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
        </div>
        <p class="lead text-black animated  bounceInLeft delay-1s fast"> De uma maneira simplificada,você pode ajudar
            ONG´s e
            Organizações Sociais ! </p>
    </div>
    <!-- Logo -->
    <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 animated zoomIn delay-1s fast">
        <img src="imgs/heroes.png" alt="Logo EcoThink" class="img-fluid d-block logo">
    </div>
</div>
<!-- buttom -->
<div class="row p-5 mb-3">
    <div class="col-12 col-sm-12 col-md-6   animated  bounceInLeft delay-1s fast ">
        <a class="btn btn-block bg-red text-white mx-auto shadow  arredondar p-3 mt-3 mb-3"
            href="/home/incidents">Verificar</a>
    </div>
    <div class="col-12 col-sm-12 col-md-6   animated  bounceInRight delay-1s fast ">
        <a class="btn btn-block  bg-dark text-white mx-auto shadow  arredondar p-3 mt-3 mb-3"
            href="/home/login">Registrar Sua
            ONG</a>
    </div>

</div>