<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft  fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn  fast">
                <img src="imgs/logo.svg" alt="Logo BeTheHero" class="img-fluid d-block logo">
            </div>
        </div>
        <h2 class="h2 text-center">Incidente Detectado</h2>
        <p class="lead text-black animated  bounceInLeft  fast">
            Confira mais informações sobre esse Incident para poder ajudar !
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="jumbotron shadow card border-0 rounded animated  bounceInLeft fast">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="{{incident.url}}" class="card-img" alt="...">
                </div>
                <div class="col-md-6 ">
                    <div class="card-body text-gray">
                        <h1 class="card-title text-gray">{{incident.title}}</h1>
                        <h5 class="card-subtitle mb-3 text-red"><b>{{incident.ong}}</b></h5>
                        <p class="card-text">{{incident.description}}</p>

                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago
                            </small></p>
                        <div class="card-footer border-0 bg-transparent">
                            <button class="btn btn-block bg-whats text-white mx-auto p-4" ng-click="enviarMsg()">
                                Entrar em Contato <i class="fab fa-whatsapp"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4 col-12 ">
        <div class="row">
            <div class="col-12 col-sm-12   col-md-12 animated zoomIn delay-1s fast">
                <img src="imgs/heroes.png" alt="Logo BeTheHero" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 text-center">
        <small class="lead text-black animated  bounceInLeft delay-1s fast">
            Projeto Desenvolvido e Criado na 11º Semana OmniStack!
            <br>
            Remodelado e Desenvolvido por: <b>Jvitorn_</b>
        </small>
    </div>
</div>