<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft  fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn  fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
        </div>
        <h2 class="h2 text-center">Incidente Detectado</h2>
        <p class="lead text-black animated  bounceInLeft  fast">
            Confira mais informações sobre esse Incident para poder ajudar !
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <card-Horizonal imagem="{{incident.url}}" classe="card-img" titulo="Foto do Card" title="{{incident.title}}"
            description="{{incident.description}}">
            <btn-Whatsapp nome="Entrar em contato" acao="enviarMsg()"></btn-Whatsapp>
        </card-Horizonal>

    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4 col-12 ">
        <div class="row">
            <div class="col-12 col-sm-12   col-md-12 animated zoomIn delay-1s fast">
                <img src="imgs/heroes.png" alt="Logo BeTheHero" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 text-center">
        <small class="lead text-black animated  bounceInLeft delay-1s fast">
            Projeto Desenvolvido e Criado na 11º Semana OmniStack!
            <br>
            Remodelado e Desenvolvido por: <b>Jvitorn_</b>
        </small>
    </div>
</div>