<div class="row text-gray">

    <div class="col-md-8 offset-md-2 col-10 offset-1 p-2 mt-5 mb-5 ">
        <div class="row">
            <!-- Logo -->
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn  fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <h2 class="h2 text-center animated  bounceInLeft  fast">Login</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-12">
                <div class="row">

                    <div class="col-md-8 offset-md-2 col-12">
                        <div class="form-group animated zoomIn  fast">
                            <label for="">Email</label>
                            <input type="email" ng-model="usuario.email" class="form-control"
                                placeholder="Email Institucional">
                        </div>
                        <div class="form-group animated zoomIn  fast">
                            <label for="">Password</label>
                            <input type="password" ng-model="usuario.password" class="form-control" placeholder="Senha">
                        </div>
                        <!-- buttom -->
                        <div class="row  mb-2">
                            <div class="col-12 col-sm-12 col-md-6   animated  bounceInLeft  fast ">
                                <button class="btn btn-block bg-red text-white mx-auto shadow   p-3 mt-3 mb-3"
                                    ng-click="logar(usuario)">
                                    Logar
                                </button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6   animated  bounceInRight  fast ">
                                <a class="btn btn-block  bg-dark text-white mx-auto shadow   p-3 mt-3 mb-3"
                                    href="/home/register">Registrar</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col-12 col-sm-12   col-md-12 animated zoomIn delay-1s fast">
                        <img src="imgs/heroes.png" alt="Logo BeTheHero" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>