<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft delay-1s fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img src="imgs/logo.svg" alt="Logo BeTheHero" class="img-fluid d-block logo">
            </div>
        </div>
        <h2 class="h2 text-center">Incidente Detectado</h2>
        <p class="lead text-black animated  bounceInLeft delay-1s fast">
            Confira mais informações sobre esse Incident para poder ajudar !
        </p>
    </div>
</div>