<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft delay-1s fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img src="imgs/logo.svg" alt="Logo BeTheHero" class="img-fluid d-block logo">
            </div>
        </div>
        <h2 class="h2 text-center">Bem Vindo</h2>
        <p class="lead text-black animated  bounceInLeft delay-1s fast">
            Confira mais informações sobre a sua Organição,crie ações,denuncie algo,atualize suas informações,etc... !
        </p>
    </div>
</div>
<!-- buttom -->
<div class="row">
    <div class="col-8   offset-2 p-5 text-center">
        <div class="row">
            <div class="col-2 offset-2  text-center animated  bounceInRight delay-1s fast ">
                <a class="btn btn-circle btn-xl  btn-dark text-white mx-auto shadow   p-3 mt-3 mb-3"
                    href="/home/register"></a>
            </div>
            <div class="col-4  b-3 rounded border-bottom border-dark">
                &nbsp;
            </div>
            <div class="col-2  text-center rounded-circle animated  bounceInRight delay-1s fast ">
                <a class="btn btn-circle btn-xl  btn-dark text-white mx-auto shadow   p-3 mt-3 mb-3"
                    href="/home/register"></a>
            </div>
        </div>
    </div>

</div>