<div class="row text-gray mt-2">
    <div class="col-12 p-3 text-center  animated  bounceInLeft delay-1s fast">
        <div class="row">
            <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 mb-5  animated zoomIn delay-1s fast">
                <img-Temp url="imgs/logo.svg" titulo="Logo BeTheHero"></img-Temp>
            </div>
        </div>
        <h2 class="h2 text-center">Bem Vindo</h2>
        <p class="lead text-black animated  bounceInLeft delay-1s fast">
            Confira mais informações sobre a sua Organição,crie ações,denuncie algo,atualize suas informações,etc... !
        </p>
    </div>
</div>